@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


[data-tooltip] {
  position: relative;
  color: #3C4754 !important;
  margin: 0 5px;
}

[data-tooltip]:before,
[data-tooltip]:after {
  display: none;
  position: absolute;
  top: 0;
}

[data-tooltip]:before {
  border-bottom: .6em solid #3C4754;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  left: 0px;
  margin-top: 25px;
}

[data-tooltip]:after {
  border-radius: 7px;
  content: attr(data-tooltip-message);
  left: -205px;
  margin-top: 30px;
  padding: 8px 15px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  white-space: pre-wrap;
  width: 265px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);
  background-color: #3c4754e8;
  z-index: 4;
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  display: block;
}

#root {
  background-color: #3FAFD7;
  height: 100vh;
  display: flex;
  align-items: center;
}


.leave__cal {
  border-radius: 24px;
  background-color: #ffffff;;
  max-width: 763px;
  min-width: 320px;
  min-height: 340px;
  padding: 40px;
  transition: 0.5s;
}

.leave__cal .d__none {
  display: none;
}

.leave__cal .progress__bullet {
  display: flex;
  justify-content: center;
  margin: 30px 0 0;
}

.leave__cal .progress__bullet > span.filled{
  background-color: #3FAFD7;
}

.leave__cal .progress__bullet > span{
  height: 8px;
  width: 8px;
  background-color: #E9ECF6;
  margin: 0 8px;
  border-radius: 8px;
}

.leave__cal button {
  border: 1px solid;
  outline: none;
  border-radius: 17.5px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  padding: 4px 30px;
  text-align: center;
}

.leave__cal button.solo__back {
  margin: 50px auto 0;
  border-color: #8a9bae;
  display: block;
  color: #8a9bae;
  background-color: transparent;
}

.leave__cal .duo {
  margin: 30px auto 0;
  text-align: center;
}

.leave__cal .duo > button {
  margin: 0 8px;
}
.leave__cal .duo > small {
  display: block;
  margin-top: 20px;
}

.leave__cal .duo > button.duo__back {
  border-color: #8a9bae;
  background-color: transparent;
  color: #8a9bae;
}
.leave__cal .duo > button.duo__next {
  background-color: #318cd7;
  border-color: #318cd7;
  color: #fff;
  transition: 0s;
}

.leave__cal .duo > button.duo__next:disabled {
  background-color: #8a9bae;
  border-color: #8a9bae;
  cursor: not-allowed;
}

.leave__cal button.duo__reset {
  padding: 20px;
  background-color: transparent;
  color: #318CD7;
  border: none;
  outline: none;
  border-radius: 17.5px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}

.leave__cal h2 {
  color: #3c4754;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 40px 0;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
}

.leave__cal .label__parent {
  display: flex;
  padding: 0 90px;
}

.leave__cal .label__parent > .label__child {
  flex: 50%;
  margin: auto 15px;
}

.leave__cal .label__parent > .label__child label {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 1px 2px 8px 0 rgba(60, 71, 84, 0.12);
  display: block;
  margin: 0;
  padding: 10px 0;
  color: #708093;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.leave__cal input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.leave__cal input[type="radio"] + label:hover {
  color: rgb(26, 26, 26);
}

.leave__cal input[type="radio"] + label:active,
.leave__cal input[type="radio"] + label:focus,
.leave__cal input[type="radio"]:checked + label {
  border-radius: 4px;
  background-color: #f2f4fa;
  box-shadow: none;
  outline: 0;
}

/* STEP FOUR */
.leave__cal .step__four h2 {
  text-align: left;
  margin: 20px 0 0;
}
.leave__cal .step__four p {
  margin: 0 0 15px;
  color: #708093;
  text-align: left;
  max-width: 500px;
}

.leave__cal .step__four .part__two + span{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #D64B34;
  font-family: Lato;
  font-size: 12px;
  height:20px;
  transition: .5s;
}

.leave__cal .step__four,
.leave__cal .step__five {
  max-width: 600px;
  margin: auto;
}

.leave__cal .step__four .step__row {
  display: flex;
}

.leave__cal .step__four .step__row > input,
.leave__cal .step__four .step__row > label {
  flex: 50%;
  margin: auto;
}

.leave__cal .step__four .step__row > label {
  padding: 0 80px 0;
}

.leave__cal .step__four .step__col {
  flex: 50%;
  padding: 0 40px 0 0;
}

.leave__cal .step__four .part__two{
  margin-bottom: 20px;
}

.leave__cal .step__four .part__two .step__row {
  margin: 8px 0;
}

.leave__cal .step__four .part__two .step__col > input {
  max-width: 200px;
}
.leave__cal .step__four .part__two .step__col > label {
  color: #3c4754;
  font-family: Lato;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding-left: 70px;
}

.leave__cal .step__four .step__col > label {
  color: #3c4754;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 10px;
  display: inline-block;
}

.leave__cal .step__four .step__col > input {
  display: block;
  margin: auto 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #d8dcea;
  border-radius: 4px;
  background-color: #ffffff;
}

/* STEP FIVE */

.leave__cal .step__five h2 {
  text-align: left;
  margin: 25px 0 5px;
}

.leave__cal .step__five label {
  display: block;
}

.leave__cal .step__five input {
  border: 1px solid #d8dcea;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  width: 100%;
}

.leave__cal input::placeholder {
  color: #cad2de;
}

/* CASUAL */

.leave__cal .casual h2 {
  max-width: 300px;
  margin: 20px auto;
}

.leave__cal .casual {
  max-width: 600px;
  text-align: center;
  margin: auto;
}
/* RESULT */

.leave__cal .result {
  max-width: 500px;
  margin: auto;
}


.leave__cal .result h2:first-child {
  border-radius: 8px 0 0 8px;
  background-color: #26496E;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 10px 30px;
  margin: 0;
}

.leave__cal .result h2:last-child {
  color: #26496E;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  background-color: #F0F2F5;
  border-radius: 0 8px 8px 0;
  padding: 10px 35px;
  margin: 0;
}

.leave__cal .result h3 {
  color: #3FAFD7;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
  margin: 20px 0 30px;
}

.leave__cal .result ul {
  margin: 0;
  padding: 0;
}

.leave__cal .result ul li {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

.leave__cal .result ul li p {
  flex: 50% 1;
    width: 367px;
    color: #536171;
    font-family: Lato;
    font-size: 16px;
    margin: 0;
}

.leave__cal .result ul li p:last-child {
  font-weight: bolder;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .leave__cal {
    padding: 20px;
  }
  .leave__cal .label__parent {
    padding: 0;
  }
  .leave__cal .label__parent > .label__child {
    margin: 0 8px;
  }

  .leave__cal .label__parent > .label__child label {
    line-height: 22px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 425px) {
  .leave__cal .step__four .step__col {
    padding: 0;
  }
  .leave__cal .step__four .step__row {
    display: block;
  }
  .leave__cal .step__four .step__col > label {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .leave__cal .step__four .part__two .step__col > label {
    padding: 0;
    margin: 15px 0 5px;
  }

  .leave__cal .step__four .part__two .step__col > input {
    width: 100%;
    max-width: none;
  }
  .leave__cal .label__parent > .label__child label {
    line-height: 22px;
    padding: 0 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 75px;
    width: 100%;
  }
}